---
import { getEntry } from 'astro:content';
import PageLayout from '../../components/layouts/PageLayout.astro';
import FormattedDate from '../../components/common/FormattedDate.astro';
import PageName from '../../components/common/PageName.astro';

const { slug } = Astro.params;

if (!slug) {
	throw new Error('Missing slug');
}

const entry = await getEntry('blog', slug);

if (!entry) {
	throw new Error('Not found');
}

const { Content } = await entry.render();
const { title, pubDate, updatedDate } = entry.data;
---

<PageLayout title={title}>
	<header class="mx-auto mb-9 grid w-full max-w-2xl gap-4">
		<div class="grid grid-cols-[auto_1fr] items-center gap-4 text-center">
			<PageName class="font-display text-5xl">
				{title}
			</PageName>
		</div>
		<div class="font-subheading flex items-end justify-self-end text-lg font-light">
			<div class="text-stone-500">
				Published
				<FormattedDate date={pubDate} />
			</div>
			{
				updatedDate ? (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				) : null
			}
		</div>
	</header>
	<main class="mx-auto w-full max-w-2xl">
		<article
			class="prose-h2:font-subheading prose prose-indigo mx-auto dark:prose-invert prose-h2:font-normal prose-h2:text-orange-100 prose-p:text-base prose-p:leading-5">
			<Content />
		</article>
	</main>
	<footer class="my-8">
		<p class="italic">
			Luke is a software engineer in Columbus, Ohio. He focuses primarily on JavaScript and
			TypeScript, and is currently working as an integrations developer at <a
				href="https://osu.edu">the Ohio State University</a
			>.
		</p>
	</footer>
</PageLayout>
