---
import type { GetStaticPaths } from 'astro';
import PageLayout from '../../components/layouts/PageLayout.astro';
import SnippetList from '../../components/snippets/SnippetList.astro';
import { getCollection } from 'astro:content';

export const getStaticPaths = (async () => {
	const entries = await getCollection('snippets');
	return [
		{
			params: { slug: undefined },
			props: { currentEntry: undefined, entries },
		},
		...entries.map((currentEntry) => ({
			params: { slug: currentEntry.slug },
			props: { currentEntry, entries },
		})),
	];
}) satisfies GetStaticPaths;

const { currentEntry, entries } = Astro.props;

const { Content } = (await currentEntry?.render()) ?? {};
---

<PageLayout title="Snippets | SnailyLuke" page_name="Snippets">
	<main class="mx-auto w-full max-w-4xl">
		<SnippetList snippets={entries} active_entry={currentEntry}>
			{Content ? <Content /> : null}
		</SnippetList>
	</main>
</PageLayout>
