---
import Icon from 'astro-icon';
export type Props = {
	name: string;
	href: string;
	color_class: string;
  transition_name?: string;
};

const { href, name, color_class, transition_name } = Astro.props;
---

<a
	{href}
	class:list={{ [color_class]: true }}
	class="group/link flex min-w-[10rem] items-center justify-between rounded-full border px-5 py-[0.3rem] transition-colors">
	<span transition:name={transition_name || href}>{name}</span>
	<div
		class="transition-transform group-hover/link:translate-x-1 group-hover/link:scale-105"
		>
		<Icon name="cil:arrow-right" size="25" />
	</div>
</a>
