---
import PageName from './PageName.astro';
import HeaderNavLink from './HeaderNavLink.astro';
import If from './If.astro';

type Props = {
	page_name?: string;
};
---

<header
	class="mdtsconfig.json:grid-cols-[auto_1fr] mx-auto grid w-full max-w-2xl items-center justify-items-center gap-4 py-8 text-center"
	transition:name="page-header">
	<nav class="flex gap-4">
		<HeaderNavLink href="/" name="Home" inactive_icon="ph:house" active_icon="ph:house-fill" />
		{
			/*<HeaderNavLink
      name="About Me"
      href="/about-me"
      inactive_icon="ion:person-outline"
      active_icon="ion:person"
      />*/
		}
		<HeaderNavLink
			href="/blog"
			name="Blog"
			inactive_icon="ion:book-outline"
			active_icon="ion:book"
		/>
		<HeaderNavLink
			href="/snippets"
			name="Snippets"
			inactive_icon="ant-design:code-outlined"
			active_icon="ant-design:code-filled"
		/>
	</nav>
	<If test={Astro.props.page_name}>
		<PageName>
			<span transition:name={Astro.url.pathname}>{Astro.props.page_name}</span>
		</PageName>
	</If>
</header>
